/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Заголовок */
.main-header {
    background-color: #0077b6;
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
}

.main-header h1 {
    font-size: 2em;
    margin: 0;
}

.main-header h1 span {
    color: #ffcb42;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

/* Основний контент */
main {
    padding: 2em 0;
}

h2 {
    color: #0077b6;
    font-size: 1.8em;
    margin-bottom: 1em;
}

/* Секція "Про мене" */
.about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    margin-bottom: 2em;
}
.profile {
    display: flex;
    align-items: flex-start;
    gap: 1.5em;
}

.profile-photo {
    flex-shrink: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
    max-width: 600px;
}

.profile-info p {
    margin-bottom: 1em;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info a {
    color: #0077b6;
    text-decoration: none;
}

.profile-info a:hover {
    text-decoration: underline;
}

/* Секція "Практичні роботи" */
.practical-section ul {
    list-style: none;
    padding: 0;
}

.practical-section li {
    margin-bottom: 1em;
}

.practical-section a {
    color: #0077b6;
    text-decoration: none;
}

.practical-section a:hover {
    text-decoration: underline;
}

/* Футер */
.main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
}

.main-footer p {
    margin: 0.5em 0;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-links a {
    color: #ffcb42;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}
.navigation .active {
    text-decoration: underline;
    font-weight: bold;
    color: #ffcb42;
}
.labs-image {
    width: 100%;  /* Зображення буде займати всю ширину екрану */
    height: auto; /* Пропорції зображення залишаються правильними */
    object-fit: cover; /* Обрізає зображення, щоб воно заповнило контейнер, зберігаючи пропорції */
    display: block; /* Виправляє можливі пробіли під зображенням */
    margin-top: 20px;
}
